<footer class="card footer-card">
    <div class="footer-left">
        <div class="copyright-wrap">
            <img src="site/favicon.ico" alt="Logo" class="footer-mini-logo">
            <span class="copyright">© 2026 JanPro<span class="red-text">.ru</span></span>
        </div>
        <span class="footer-sub">Ян Савченко: Электрощиты нового времени</span>
    </div>
    <div class="footer-right">
        <div class="footer-links-row">
            <a href="#">Оферта</a>
            <a href="#">Конфиденциальность</a>
        </div>
        <a href="https://batyushin.ru" target="_blank" class="designer-link">
            <span>DESIGNED BY <span class="red-text">ReD</span></span>
            <span class="city-text">from Lugansk</span>
        </a>
    </div>
</footer>