<div class="card header-card">
    <div class="header-content">
        <div class="header-col-logo">
            <a href="index.html" class="logo-link">
                <img src="site/img/logo.png" alt="JanPro Logo" class="main-logo-img">
            </a>
        </div>
        <div class="header-col-text">

            <div class="title-row">
                <h1 class="logo-text">
                    <a href="https://www.youtube.com/@jan.pro59." target="_blank" class="logo-link-text">
                        JanPro<span class="red-text"><span class="dot-wrapper">.<span class="sup-59">59</span></span>ru</span>
                    </a>
                </h1>

                <div class="partner-group">
                    <a href="https://www.youtube.com/@stroyploschadka" target="_blank" class="sp-link">
                        <img src="site/img/sp2.png" alt="Стройплощадка" class="sp-logo-img">
                    </a>
                </div>
            </div>

            <p class="desc">Профессиональная сборка электрощитов<br>для квартир и частных домов.</p>
        </div>
    </div>
</div>