<div class="card header-card">
    <div class="header-content">
        <div class="header-col-logo">
            <a href="index.html" class="logo-link">
                <img src="site/img/logo.png" alt="JanPro Logo" class="main-logo-img">
            </a>
        </div>
        <div class="header-col-text">
            <h1 class="logo-text">JanPro<span class="red-text">.ru</span></h1>
            <p class="desc">Профессиональная сборка  электрощитов<br>для квартир и частных домов.</p>
        </div>
    </div>
</div>